<form action="/add" method="POST">
    <p>Nome</p>
    <input type="text" name="nome">
    <P>conteudo</P>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar</button>
</form>